{
  "swagger": "2.0",
  "info": {
    "title": "SCM LME Snapshot Update-by-id API",
    "description": "Updates one or more LME snapshot rows by id, mirroring the Dataverse update-row tool.",
    "version": "1.0.0"
  },
  "host": "orion.algihaz.com",
  "basePath": "/scm",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "X-API-Key",
      "in": "header"
    }
  },
  "security": [{ "apiKeyHeader": [] }],
  "paths": {
    "/api/lme/snapshot/id": {
      "patch": {
        "operationId": "UpdateLmeSnapshotById",
        "summary": "Update LME snapshot(s) by id",
        "description": "Update one or more rows in the LME snapshots table. Provide 'recordId' and 'item' to update a single record, or provide 'records' (an array of {recordId, item} objects) to update multiple records in one call (returns a per-record result summary). Updatable fields in 'item': report_date_label, payload_json, name, status_code, state_code, version_number. Unknown fields are rejected per-record rather than failing the whole call.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Either {recordId, item} for a single-record update, or {records: [{recordId, item}, ...]} for a batch update.",
            "schema": {
              "type": "object",
              "properties": {
                "recordId": {
                  "type": "string",
                  "description": "The snapshot's database id (UUID) to update. Use with 'item' for a single-record update."
                },
                "item": {
                  "type": "object",
                  "description": "Fields to update on the record identified by 'recordId': any of report_date_label, payload_json, name, status_code, state_code, version_number."
                },
                "records": {
                  "type": "array",
                  "description": "For a batch update: an array of {recordId, item} objects, each shaped like the single-record fields above.",
                  "items": { "type": "object" }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update succeeded (single or batch).",
            "schema": { "type": "object" }
          }
        }
      }
    }
  }
}
